#contacto{
    padding: 40px 15%;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 6rem;
}

.contacto-form{ 
    h1{
    font-size: 80px;
    color: $blanco;
    margin-bottom: 20px;
    }
    form{
        position: relative;
    }
    form input, form textarea{
        width: 100%;
        padding: 17px;
        border: none;
        outline: none;
        background-color: $blanco;
        font-size: 1.1rem;
        margin-bottom: .7rem;
        border-radius: 10px;
    }
    textarea{
        resize: none;
        height: 200px;
   }
}