/*VARIABLES*/
$rosa: #C7A7D4;
$gris:#c0bfbf;
$borde:black 1px solid;
$blanco:white;
$negro:black;
@import "nav";
@import "index";
@import "boton";
@import "footer";
@import "producto";
@import "nosotros";
@import "galeria";
@import "contacto";
@import "tablet";
@import "movil";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
    border: $borde;
    background-color: $rosa;
}
.contain{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

